// shipping-fee-calculator.css

// 상세페이지에서는 안내문구 크기를 줄인다
.single-product {
  .shipping-calculator-container {
    & > h3 {
      font-size: 1.15rem;
    }
  }
  .shipping-fee-table-container {
    & > h3 {
      font-size: 1.15rem;
    }
  }
  .field > .left label {
    text-align: center;
    line-height: 1rem;
    font-size: 0.8rem;
  }
}
