.single-product .shipping-calculator-container > h3 {
  font-size: 1.15rem;
}
.single-product .shipping-fee-table-container > h3 {
  font-size: 1.15rem;
}
.single-product .field > .left label {
  text-align: center;
  line-height: 1rem;
  font-size: 0.8rem;
}
